exports.conf = {
    db: {
        host: '127.0.0.1',
        port: '27017',
        name: 'Shadowsocks-Manager'
    },
    admin: {
        email: 'youremailaddress@gmail.com',
        password: 'yourpassword'
    },
    mail: {
        address: 'youremailaddress@gmail.com',
        password: 'yourpassword',
        smtp: 'smtp.gmail.com',
        webaddress: 'http://yourwebsiteaddress.com:6003'
    },
    express: {
        port: 6003
    }
};