exports.conf = {
    db: {
        host: '127.0.0.1',
        port: '27017',
        name: 'Shadowsocks-Manager',
        user: 'user',
        pass: 'password'
    },
    admin: {
        email: 'youremailaddress@gmail.com',
        password: 'yourpassword'
    },
    mail: {
        address: 'youremailaddress@gmail.com',
        password: 'yourpassword',
        smtp: 'smtp.gmail.com',
        webaddress: 'http://yourwebsiteaddress.com:6003'
    },
    express: {
        http: 6003,
        https: 443,
        key: '',
        cert: ''
    }
};