exports.conf = {
    db: {
        host: '127.0.0.1',
        port: '27017',
        name: 'Shadowsocks-Manager'
    },
    admin: {
        email: 'youremailaddress@gmail.com',
        password: 'yourpassword'
    },
    express: {
        port: 6003
    }
};