<html lang="zh-cn">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <link rel="stylesheet" href="/libs/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/libs/angular-chart.js/dist/angular-chart.min.css">
    <link rel="stylesheet" href="/public/assets/css/admin.css">
    <link rel="shortcut icon" href="/public/assets/img/favicon.png">
    <title>SS Manager</title>
    <base href="/">
    <script type="text/javascript">
        var _hmt = _hmt || [];
        (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?1488851c737daef715e9ff8264afcba7";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script type="text/javascript">
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-76516689-1', 'auto');
        ga('send', 'pageview');
   </script>
</head>

<body ng-app="AdminApp" ng-cloak>
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular-animate/angular-animate.min.js"></script>
    <script src="/libs/angular-aria/angular-aria.min.js"></script>
    <script src="/libs/angular-messages/angular-messages.min.js"></script>
    <script src="/libs/angular-material/angular-material.min.js"></script>
    <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/libs/qrcode/lib/qrcode.min.js"></script>
    <script src="/libs/angular-qr/angular-qr.min.js"></script>
    <script src="/libs/Chart.js/Chart.js"></script>
    <script src="/libs/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/libs/fingerprintjs2/dist/fingerprint2.min.js"></script>

    <% routes.forEach(function(route) { %>
    <script src="<%= route %>"></script>
    <% }); %>

    <% controllers.forEach(function(controller) { %>
    <script src="<%= controller %>"></script>
    <% }); %>

    <div ui-view></div>
</body>

</html>
