<div ng-hide="loadingError" layout="column" layout-padding style="height: 90px;" layout-align="center center">
    <div flex><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
    <div flex="30"></div>
    <div flex>{{loadingText}}</div>
</div>
<div ng-show="loadingError" layout="column" layout-padding style="height: 120px;" layout-align="center center">
    <div flex="15"></div>
    <div flex>{{loadingError}}</div>
    <div flex>
        <md-button class="md-secondary md-primary" ng-click="loadingErrorFn()">
            确定
        </md-button>
    </div>
    <div flex="5"></div>
</div>