<div layout="column">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <i class="material-icons">face</i>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div layout="row" style="height: 20%;"></div>
<div layout="row">
    <div flex="10" flex-gt-sm="30"></div>
    <div flex layout="column" layout-align="center center">
        <p flex><h3>{{publicInfo.message}}</h3></p>
        <p flex>
            <div layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="determinate" value="{{time * 10}}"></md-progress-circular>
            </div>
        </p>
        <p flex>{{timeStr}} 秒后自动返回登录页面</p>
    </div>
    <div flex="10" flex-gt-sm="30"></div>
</div>
