<div layout="column">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="More">
                <i class="material-icons">face</i>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div layout="row" style="height: 20%;"></div>
<div layout="row">
    <div flex="10" flex-gt-sm="30"></div>
    <div flex layout="row" layout-align="center center">
        <div>注册成功，{{time}}秒后自动返回登录页面</div>
    </div>
    <div flex="10" flex-gt-sm="30"></div>
</div>
