<md-bottom-sheet class="md-list" ng-cloak>
    <md-list>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>流量：{{newCode.flow}}</h3>
                <h3>时间：{{newCode.time}}</h3>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="newCode.add('flow', -1000 * 1000 * 1000)">-1 G</md-button>
            <md-button flex class="md-raised" ng-click="newCode.add('flow', -100 * 1000 * 1000)">-100 M</md-button>
            <md-button flex class="md-raised" ng-click="newCode.add('flow', 100 * 1000 * 1000)">+100 M</md-button>
            <md-button flex class="md-raised" ng-click="newCode.add('flow', 1000 * 1000 * 1000)">+1 G</md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="newCode.add('time', -1 * 86400 * 1000)">-1 D</md-button>
            <md-button flex class="md-raised" ng-click="newCode.add('time', -7 * 86400 * 1000)">-7 D</md-button>
            <md-button flex class="md-raised" ng-click="newCode.add('time', 1 * 86400 * 1000)">+1 D</md-button>
            <md-button flex class="md-raised" ng-click="newCode.add('time', 7 * 86400 * 1000)">+7 D</md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <div flex></div>
            <md-button flex class="md-raised md-primary" ng-click="">确定</md-button>
            <div flex></div>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
