<div layout="row">
    <div flex="10" flex-gt-sm="30"></div>
    <div flex>
        <form name="serverForm">
            <md-dialog-content>
                <div class="md-dialog-content">
                    <div flex="10"></div>
                    <md-input-container class="md-block">
                        <label>名称</label>
                        <input ng-readonly="publicInfo.title==='编辑服务器'" required name="name" ng-model="server.name">
                        <div ng-messages="serverForm.name.$error">
                            <div ng-message="required">名称不能为空</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>IP/域名</label>
                        <input required name="ip" ng-model="server.ip">
                        <div ng-messages="serverForm.ip.$error">
                            <div ng-message="required">IP/域名不能为空</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>管理端口</label>
                        <input required name="port" ng-model="server.port">
                        <div ng-messages="serverForm.port.$error">
                            <div ng-message="required">管理端口不能为空</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>加密方式</label>
                        <md-select ng-model="server.method">
                            <md-option ng-repeat="method in publicInfo.methods" value="{{method}}">{{method}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button class="md-raised md-primary" ng-click="addServer()">
                    确定
                </md-button>
                <span flex></span>
                <md-button class="md-raised" ng-click="cancel()">
                    取消
                </md-button>
            </md-dialog-actions>
        </form>
        <div><span style="color: #f00">重要提醒</span>：若添加的是远程服务器，请注意相应端口设置iptables白名单，以免manager端口免被其他人调用。</div>
    </div>
    <div flex="10" flex-gt-sm="30"></div>
</div>
