<md-dialog layout="row" aria-label="添加端口" ng-cloak>
    <form name="serverForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>添加端口</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
            <div flex="10"></div>
            <md-input-container class="md-block">
                <label>端口</label>
                <input required name="port" ng-model="serverPort.port">
                <div ng-messages="serverForm.port.$error">
                    <div ng-message="required">端口不能为空</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>密码</label>
                <input required name="password" ng-model="serverPort.password">
                <div ng-messages="serverForm.password.$error">
                    <div ng-message="required">密码不能为空</div>
                </div>
            </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="addServerPort(serverPort.name)">
                确定
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:30px;">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
