<div ng-controller="TestCtrl" layout="column" ng-cloak layout-fill>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-content>
                <div layout="column" layout-fill>
                    <div flex="80" layout="column" layout-align="start stretch">
                        <md-list-item ng-repeat="menus in menus">
                            <md-button>{{menus.name}}</md-button>
                        </md-list-item>
                    </div>
                    <div flex layout="column" layout-align="end stretch">
                        aaa
                    </div>
                </div>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <div layout="column" layout-fill>
                <md-toolbar layout="row">
                    <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="menu" hide-gt-md ng-click="showMenu()">
                            <i class="material-icons">menu</i>
                        </md-button>
                    </div>
                </md-toolbar>
            </div>
        </md-content>
    </section>
</div>
