<md-bottom-sheet class="md-list" ng-cloak>
    <md-list>
        <md-list-item>
            <h3>设置颜色</h3>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item>
            <div style="width: 3rem;border-style: solid; border-width: 1px;" ng-repeat="color in publicInfo.colors">
                <md-grid-list flex md-cols="1" md-row-height="3rem" ng-click="setColor(color)">
                    <md-grid-tile ng-style="{'background-color': '#' + color}"></md-grid-tile>
                </md-grid-list>
            </div>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</md-bottom-sheet>
