<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card>
            <md-card-content>
                <div layout="row" layout-align="space-between center">
                    <h2 flex>{{server.name}}:{{account.port}}</h2>
                    <div style="width: 1.5rem;border-style: solid; border-width: 1px;" ng-click="colorBottomSheet()">
                        <md-grid-list flex md-cols="1" md-row-height="1.5rem">
                            <md-grid-tile ng-style="{'background-color': '#' + account.color}"></md-grid-tile>
                        </md-grid-list>
                    </div>
                </div>
                
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>节点：{{server.name}}</h4>
                            <h4>地址：{{server.ip}}:{{account.port}}</h4>
                            <h4>密码：{{account.password}}（{{server.method}}）</h4>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>剩余流量：{{account.flow | flow1024}}</h4>
                            <h4>到期时间：{{account.expireTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}} （{{account.expireTime | relativeTime}}）</h4>
                            <h4 ng-if="account.lastActive">最近连接：{{account.lastActive | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}} （{{account.lastActive | relativeTime}}）</h4>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>本日：{{account.today | flow1024}}</h4>
                            <h4>本周：{{account.week | flow1024}}</h4>
                            <h4>本月：{{account.month | flow1024}}</h4>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <div class="md-list-item-text" style="width: 100%;" layout="row" layout-align="space-between center">
                            <div flex="75">失效自动删除</div>
                            <div flex layout="row" layout-align="end center"><md-switch ng-model="account.autoRemove" aria-label="autoRemove" ng-change="changeAutoRemove()"></md-switch></div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item layout="column" layout-align="center center">
                        <div ng-show="account.users.length === 0">
                            <p>尚未分配用户</p>
                        </div>
                        <div ng-repeat="user in account.users">
                            <div layout layout-padding ng-click="toUserPage(user)">{{user}}</div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item layout="row">
                        <div flex="50" layout="row" layout-align="center center">
                            <md-button class="md-primary" ng-click="flowBottomSheet()">设置流量</md-button>
                        </div>
                        <div flex="50" layout="row" layout-align="center center">
                            <md-button class="md-primary" ng-click="timeBottomSheet()">设置有效期</md-button>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>
<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card>
            <md-card-content>
                <div layout-margin style="font-size: 1.25em;">流量统计</div>
                <md-divider></md-divider>
                <md-list-item layout="row" layout-align="space-around center">
                    <div>统计周期：</div>
                    <md-radio-group layout="row" layout-align="center center" ng-model="chartType" ng-change="chartChange(chartType)">
                        <md-radio-button value="hour">小时</md-radio-button>
                        <md-radio-button value="day">天</md-radio-button>
                        <md-radio-button value="week">周</md-radio-button>
                    </md-radio-group>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item layout="column">
                    <p>开始时间：{{flowChart[serverName][chartType].startTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}}</p>
                    <p>结束时间：{{flowChart[serverName][chartType].endTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}}</p>
                    <p>合计：{{flowChart[serverName][chartType].sum | flow1024}}</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item ng-show="key === chartType" ng-repeat="(key, c) in flowChart[serverName]" layout="row" layout-align="center center">
                    <div>
                        <canvas class="chart chart-line" chart-data="c.data"
                        chart-labels="c.labels" chart-legend="false" chart-series="c.series"
                        chart-options="c.options">
                        </canvas>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item layout="row" layout-align="center center">
                    <div flex="50" layout="row" layout-align="center center">
                        <md-button class="md-primary" ng-click="prev()">
                            Prev
                        </md-button>
                    </div>
                    <div flex="50" layout="row" layout-align="center center">
                        <md-button class="md-primary" ng-click="reset()">
                            Reset
                        </md-button>
                    </div>
                    <div flex="50" layout="row" layout-align="center center">
                        <md-button class="md-primary" ng-click="next()">
                            Next
                        </md-button>
                    </div>
                </md-list-item>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>
<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card>
            <md-card-content>
                <div layout-margin style="font-size: 1.25em;">二维码</div>
                <md-list-item layout="row" layout-align="center center">
                    <div layout-margin layout-padding>
                        <qr text="qrCode" image="true" ng-if="qrCode"></qr>
                    </div>
                </md-list-item>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>
<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card>
            <md-card-content>
                <md-list-item layout="row" layout-align="center center">
                    <md-button class="md-primary" ng-click="deleteAccount(account.port)">
                        删除帐号
                    </md-button>
                </md-list-item>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>