<md-bottom-sheet class="md-list" ng-cloak>
    <md-list>
        <md-list-item layout="row">
            <h3>到期时间：{{account.expireTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}}</h3>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="setTime('set', 0)">0 d</md-button>
            <md-button flex class="md-raised" ng-click="setTime('set', 1 * 86400 * 1000)">1 d</md-button>
            <md-button flex class="md-raised" ng-click="setTime('set', 7 * 86400 * 1000)">7 d</md-button>
            <md-button flex class="md-raised" ng-click="setTime('set', 30 * 86400 * 1000)">30 d</md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="setTime('add', 1 * 86400 * 1000)">+1 d</md-button>
            <md-button flex class="md-raised" ng-click="setTime('add', 7 * 86400 * 1000)">+7 d</md-button>
            <md-button flex class="md-raised" ng-click="setTime('add', 30 * 86400 * 1000)">+30 d</md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="setTime('add', -1 * 86400 * 1000)">-1 d</md-button>
            <md-button flex class="md-raised" ng-click="setTime('add', -7 * 86400 * 1000)">-7 d</md-button>
            <md-button flex class="md-raised" ng-click="setTime('add', -30 * 86400 * 1000)">-30 d</md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
