<md-bottom-sheet class="md-list" ng-cloak>
    <md-list>
        <md-list-item layout="row">
            <h3>剩余流量：{{account.flow | flow1024}}</h3>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="setFlow('set', 0)">0 MB</md-button>
            <md-button flex class="md-raised" ng-click="setFlow('set', 10 * 1000 * 1000)">10 MB</md-button>
            <md-button flex class="md-raised" ng-click="setFlow('set', 100 * 1000 * 1000)">100 MB</md-button>
            <md-button flex class="md-raised" ng-click="setFlow('set', 1000 * 1000 * 1000)">1 GB</md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="setFlow('add', 10 * 1000 * 1000)">+10 MB</md-button>
            <md-button flex class="md-raised" ng-click="setFlow('add', 100 * 1000 * 1000)">+100 MB</md-button>
            <md-button flex class="md-raised" ng-click="setFlow('add', 1000 * 1000 * 1000)">+1 GB</md-button>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item layout="row">
            <md-button flex class="md-raised" ng-click="setFlow('add', -10 * 1000 * 1000)">-10 MB</md-button>
            <md-button flex class="md-raised" ng-click="setFlow('add', -100 * 1000 * 1000)">-100 MB</md-button>
            <md-button flex class="md-raised" ng-click="setFlow('add', -1000 * 1000 * 1000)">-1 GB</md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>
