<md-list>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h3>节点：{{server.name}}</h3>
            <h4>地址：{{server.ip}}:{{account.port}}</h4>
            <h4>密码：{{account.password}}（{{server.method}}）</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h4>剩余流量：{{account.flow | flow1024}}</h4>
            <h4>到期时间：{{account.expireTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}} （{{account.expireTime | relativeTime}}）</h4>
            <h4 ng-if="account.lastActive">最近连接：{{account.lastActive | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}} （{{account.lastActive | relativeTime}}）</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h4>本日：{{account.today | flow1024}}</h4>
            <h4>本周：{{account.week | flow1024}}</h4>
            <h4>本月：{{account.month | flow1024}}</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <!-- <md-list-item layout="row">
        <div flex>
            <md-button class="md-raised md-primary" ng-click="addFlow(10 * 1000 * 1000)">+10M</md-button>
            <md-button class="md-raised md-primary" ng-click="addFlow(100 * 1000 * 1000)">+100M</md-button>
        </div>
    </md-list-item>
    <md-list-item layout="row">
        <div flex>
            <md-button class="md-raised md-warn" ng-click="addFlow(-10 * 1000 * 1000)">-10M</md-button>
            <md-button class="md-raised md-warn" ng-click="addFlow(-100 * 1000 * 1000)">-100M</md-button>
        </div>
    </md-list-item>
    <md-list-item layout="row">
        <div flex>
            <md-button class="md-raised md-primary" ng-click="addTime(1)">+0d</md-button>
            <md-button class="md-raised md-primary" ng-click="addTime(1 * 86400 * 1000)">+1d</md-button>
            <md-button class="md-raised md-primary" ng-click="addTime(10 * 86400 * 1000)">+10d</md-button>
        </div>
    </md-list-item> -->


    <md-list-item layout="row">
        <md-button flex="50" class="md-primary md-raised" ng-click="flowBottomSheet()">设置流量</md-button>
        <md-button flex="50" class="md-primary md-raised" ng-click="timeBottomSheet()">设置有效期</md-button>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="center center">
        <div layout-margin layout-padding>
            <qr text="qrCode" image="true" ng-if="qrCode"></qr>
        </div>
    </md-list-item>
    <md-list-item layout="row" layout-align="center center">
        <div>
            <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-legend="false" chart-series="series"
                chart-click="onClick" chart-options="options">
            </canvas>
        </div>
    </md-list-item>
    <md-divider></md-divider>
</md-list>