<md-content layout="column">
    <md-list ng-show="flowType === 0">
        <md-list-item>
            <div flex="15" layout="row" layout-align="end center">端口</div>
            <div flex layout="row" layout-align="end center">今日</div>
            <div flex layout="row" layout-align="end center">本周</div>
            <div flex layout="row" layout-align="end center">本月</div>
        </md-list-item>
        <md-list-item ng-repeat="a in server.account | orderBy:  ['-today', '-week', '-month']" ng-if="a.month" md-ink-ripple ng-click="accountPage(server.name, a.port)">
            <div flex="15" layout="row" layout-align="end center">{{a.port}}</div>
            <div flex layout="row" layout-align="end center">{{a.today | flow1024}}</div>
            <div flex layout="row" layout-align="end center">{{a.week | flow1024}}</div>
            <div flex layout="row" layout-align="end center">{{a.month | flow1024}}</div>
        </md-list-item>
        <md-list-item>
            <div flex="15" layout="row" layout-align="end center">合计</div>
            <div flex layout="row" layout-align="end center">{{server.sum.today | flow1024}}</div>
            <div flex layout="row" layout-align="end center">{{server.sum.week | flow1024}}</div>
            <div flex layout="row" layout-align="end center">{{server.sum.month | flow1024}}</div>
        </md-list-item>
    </md-list>
    <md-list ng-show="flowType === 1">
        <md-list-item ng-repeat="c in chart">
            <div layout="row" layout-align="center center">
                <canvas id="lineLastHour" class="chart chart-line" chart-data="c.data"
                chart-labels="c.labels" chart-legend="false" chart-series="c.series"
                chart-options="c.options">
                </canvas>
            </div>
        </md-list-item>
    </md-list>
</md-content>
