<div ng-hide="publicInfo.loadingError" layout="column" layout-padding style="height: 90px;" layout-align="center center">
    <div flex><md-progress-circular md-mode="indeterminate"></md-progress-circular></div>
    <div flex="30"></div>
    <div flex>{{publicInfo.loadingText}}</div>
</div>
<div ng-show="publicInfo.loadingError" layout="column" layout-padding style="height: 120px;" layout-align="center center">
    <div flex>{{publicInfo.loadingError}}</div>
    <div flex>
        <md-button class="md-secondary md-primary" ng-click="publicInfo.loadingErrorFn()">
            确定
        </md-button>
    </div>
</div>