<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card>
            <md-card-content>
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item>
                        <div class="md-list-item-text" style="width: 100%;" layout="row" layout-align="space-between center">
                            <div flex="75">自动分配免费节点</div>
                            <div flex layout="row" layout-align="end center"><md-switch ng-model="options.freeServer" aria-label="Switch freeServer"></md-switch></div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>