<md-list>
    <md-list-item>
        <div flex="50" layout="column" layout-align="center center">
            <md-checkbox aria-label="unuse" ng-model="type.unuse" class="md-primary">
                未使用
            </md-checkbox>
        </div>
        <div flex="50" layout="column" layout-align="center center">
            <md-checkbox aria-label="unuse" ng-model="type.use" class="md-primary">
                已使用
            </md-checkbox>
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ng-repeat="code in codeF">
        <div class="md-list-item-text">
            <h3>{{code.code | uppercase}}</h3>
            <h4>流量：{{code.flow | flow1024}}</h4>
            <h4>时间：{{code.time | renewTime}}</h4>
        </div>
        <md-button ng-show="code.isUsed" class="md-secondary md-primary" ng-click="detail(code)">详情</md-button>
        <md-divider></md-divider>
    </md-list-item>
</md-list>