<div flex layout="column">
    <md-card ng-repeat="server in serverList">
        <md-card-title>
            <md-card-title-text>
                <div class="md-headline">{{server.name}}</div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                <div>地址：{{server.ip}}</div>
                <div>端口：{{server.port}}</div>
            </p>
            <div layout="row" ng-repeat="a in server.account">
                <div flex="2">{{a.port}}</div>
                <div flex="45">{{a.password}}</div>
                <!-- <div flex>{{a.expireTime}}</div> -->
                <div flex><md-button ng-click="deleteServerPort(server.name, a.port)">删除</md-button></div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-click="addServerPortDialog(server.name)">添加端口</md-button>
            <md-button>编辑</md-button>
            <md-button>删除</md-button>
        </md-card-actions>
    </md-card>
    <!-- <md-button class="md-fab md-fab-bottom-right" aria-label="add server">
        <md-icon class="material-icons" ng-click="addServerDialog()">add</md-icon>
    </md-button> -->
</div>

