<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card>
            <md-card-content>
                <h3>服务器列表</h3>
                <md-divider></md-divider>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="server in serverList track by server.name">
                        <div class="md-list-item-text">
                            <h3>{{server.name}}</h3>
                            <h4>地址：{{server.ip}}</h4>
                            <h4>端口：{{server.port}}</h4>
                        </div>
                        <md-button class="md-secondary md-primary" ng-click="serverPage(server.name)">详情</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>
<div style="height: 100px;"></div>