<div flex layout="column">
    <md-card ng-repeat="server in serverList">
        <md-card-title>
            <md-card-title-text>
                <div class="md-headline">{{server.name}}</div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                <div>地址：{{server.ip}}</div>
                <div>端口：{{server.port}}</div>
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-button ng-click="account(server.name)">帐号</md-button>
            <md-button ng-click="edit(server.name)">编辑</md-button>
            <md-button ng-click="delete(server.name)">删除</md-button>
        </md-card-actions>
    </md-card>
</div>

