<md-list>
    <md-list-item ng-repeat="account in server.account">
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
                {{account.port}}
            </div>
            <div class="inset">
                {{account.password}}
            </div>
            <div class="inset">
                <md-button class="md-icon-button" aria-label="delete" ng-click="deleteAccount(account.port)">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-item-content>
    </md-list-item>
</md-list>