<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card md-swipe-left="onSwipeLeft()" md-swipe-right="onSwipeRight()">
            <md-card-content>
                <h2>{{server.name}}</h2>
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" style="padding-left: 16px;">
                        <div class="md-list-item-text" flex="60">
                            <h4>地址：{{server.ip}}</h4>
                            <h4>端口：{{server.port}}</h4>
                            <h4>加密方式：{{server.method}}</h4>
                        </div>
                        <div class="md-list-item-text" flex="40">
                            <div layout="row" layout-align="end center">
                                <md-button class="md-icon-button" aria-label="edit" ng-click="editServer(server.name)">
                                    <i class="material-icons">create</i>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="delete" ng-click="deleteServer(server.name)">
                                    <i class="material-icons">close</i>
                                </md-button>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                        <md-list-item>
                            <div ng-if="server.account.length === 0">该服务器未配置帐号</div>
                            <div ng-if="server.account.length">帐号列表</div>
                        </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="account in server.account" class="md-2-line" style="padding-left: 16px;">
                        <!-- <div class="md-list-item-text" flex> -->
                            <!-- <md-icon md-svg-icon="person" class="md-avatar-icon" ng-style="{'background-color': '#' + account.color };"></md-icon> -->
                            <i class="material-icons md-avatar-icon" ng-style="{'background-color': '#' + account.color };" style="margin-top: 16px;">person</i>
                        <!-- </div> -->
                        <div class="md-list-item-text" flex>
                            <h4>端口：{{account.port}}</h4>
                            <h4>密码：{{account.password}}</h4>
                        </div>
                        <div class="md-list-item-text" flex>
                            <div layout="row" layout-align="end center">
                                <md-button class="md-secondary md-primary" ng-click="editAccount(account)">详情[{{account.users.length}}]</md-button>
                                <!-- <md-button class="md-icon-button" aria-label="edit" ng-click="editAccount(account)">
                                    <i class="material-icons">create</i>
                                </md-button> -->
                                <!-- <md-button class="md-icon-button" aria-label="delete" ng-click="deleteAccount(account.port)">
                                    <i class="material-icons">close</i>
                                </md-button> -->
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>
<div style="height: 100px;"></div>
