<div layout="col" layout-align="center none">
    <div flex="0" flex-gt-md="10"></div>
    <div flex>
        <md-card>
            <md-card-content>
                <h4>{{user.email}}</h4>
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <!-- <h4>邮箱：{{user.email}}</h4> -->
                            <h4>注册时间：{{user.createTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}}</h4>
                            <h4>上次登录：{{user.lastLogin | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}}</h4>
                        </div>
                        <!-- <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                {{user.email}}
                            </div>
                        </md-item-content> -->
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-repeat="account in user.account" style="padding-left: 16px;">
                        <div class="md-list-item-text" flex="60">
                            <h4>节点：{{account.server}}</h4>
                            <h4>地址：{{account.address}}:{{account.port}}</h4>
                            <h4>密码：{{account.password}}</h4>
                        </div>
                        <div class="md-list-item-text" flex="40">
                            <div layout="row" layout-align="end center">
                                <md-button class="md-icon-button" aria-label="edit" ng-click="edit(account)">
                                    <i class="material-icons">create</i>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="delete" ng-click="delete(account)">
                                    <i class="material-icons">close</i>
                                </md-button>
                            </div>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex="0" flex-gt-md="10"></div>
</div>
<div style="height: 100px;"></div>
