<md-list>
    <md-list-item>
        <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
                {{user.email}}
            </div>
        </md-item-content>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line" ng-repeat="account in user.account" style="padding-left: 16px;">
        <div class="md-list-item-text" flex="60">
            <h3>节点：{{account.server}}</h3>
            <h4>地址：{{account.address}}:{{account.port}}</h4>
            <h4>密码：{{account.password}}</h4>
        </div>
        <div class="md-list-item-text" flex="40">
            <div layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="edit" ng-click="edit(account)">
                    <i class="material-icons">create</i>
                </md-button>
                <md-button class="md-icon-button" aria-label="delete" ng-click="delete(account)">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>
