<md-list>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h3>节点：{{account.server}}</h3>
            <h4>地址：{{account.address}}:{{account.port}}</h4>
            <h4>密码：{{account.password}}（{{account.method}}）</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line">
        <div class="md-list-item-text">
            <h4>剩余流量：{{account.flow | flow1024}}</h4>
            <h4>到期时间：{{account.expireTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}} （{{account.expireTime | relativeTime}}）</h4>
            <h4 ng-if="account.lastActive">最近连接：{{account.lastActive | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}} （{{account.lastActive | relativeTime}}）</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="column" layout-align="center center">
        <div class="md-list-item-text"><h5>近一小时流量 {{chart.sum | flow1024}}</h5></div>
        <div>
            <canvas id="line" class="chart chart-line" chart-data="chart.data"
                chart-labels="chart.labels" chart-legend="false" chart-series="chart.series"
                chart-options="chart.options">
            </canvas>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="center center">
        <div layout-margin layout-padding>
            <qr text="qrCode" image="true" ng-if="qrCode"></qr>
        </div>
    </md-list-item>
    <md-divider></md-divider>
</md-list>