<md-list>
    <md-list-item ng-show="publicInfo.user.account.length === 0">
        <div>
            <p>当前用户未分配Shadowsocks帐户</p>
            <p>请等待管理员给您分配</p>
            <p>此页面将会自动刷新</p>
        </div>
    </md-list-item>
    <md-list-item class="md-3-line" ng-repeat="account in publicInfo.user.account">
        <div class="md-list-item-text">
            <h3>节点：{{account.server}}</h3>
            <h4>地址：{{account.address}}:{{account.port}}</h4>
            <h4>密码：{{account.password}}（{{account.method}}）</h4>
        </div>
        <md-button class="md-secondary md-primary" ng-click="accountPage(account)">详情</md-button>
        <!-- <md-divider ng-if="!$last"></md-divider> -->
        <md-divider></md-divider>
    </md-list-item>
</md-list>
