<div layout="row">
    <div flex="10" flex-gt-sm="30"></div>
    <div flex>
        <form name="passwordForm">
            <md-dialog-content>
                <div class="md-dialog-content">
                    <div flex="10"></div>
                    <md-input-container class="md-block">
                        <label>原密码</label>
                        <input type="password" required name="oldPassword" ng-model="password.oldPassword">
                        <div ng-messages="passwordForm.oldPassword.$error">
                            <div ng-message="required">原密码不能为空</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>新密码</label>
                        <input type="password" required name="newPassword" ng-model="password.newPassword">
                        <div ng-messages="passwordForm.newPassword.$error">
                            <div ng-message="required">新密码不能为空</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>重复新密码</label>
                        <input type="password" required name="newPasswordAgain" ng-model="password.newPasswordAgain">
                        <div ng-messages="passwordForm.newPasswordAgain.$error">
                            <div ng-message="required">新密码不能为空</div>
                        </div>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="changePassword()">
                    确定
                </md-button>
                <span flex></span>
                <md-button ng-click="cancel()">
                    取消
                </md-button>
            </md-dialog-actions>
        </form>
    </div>
    <div flex="10" flex-gt-sm="30"></div>
</div>
