<div layout="row">
    <div flex="10" flex-gt-sm="30"></div>
    <div flex>
        <form name="passwordForm">
            <md-dialog-content>
                <div class="md-dialog-content">
                    <div flex="10"></div>
                    <md-input-container class="md-block">
                        <label>新密码</label>
                        <input type="password" required name="password" ng-model="password.password">
                        <div ng-messages="passwordForm.password.$error">
                            <div ng-message="required">密码不能为空</div>
                        </div>
                    </md-input-container>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="center center">
                <span flex="20"></span>
                <md-button class="md-raised md-primary" ng-click="changePassword()">
                    确定
                </md-button>
                <span flex="20"></span>
            </md-dialog-actions>
        </form>
    </div>
    <div flex="10" flex-gt-sm="30"></div>
</div>
