<md-list ng-hide="publicInfo.user.account.length === 0">
    <md-list-item>
        <div layout="column">
            <div ng-repeat="a in publicInfo.user.account">
                <md-checkbox aria-label="accountCheckBox" ng-model="account[a.server + ':' + a.port]">
                    ({{a.server}}){{a.address}}:{{a.port}}
                </md-checkbox>
            </div>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="center center">
        <md-radio-group layout="row" layout-align="center center" ng-model="chartType" ng-change="refresh()">
            <md-radio-button value="hour">小时</md-radio-button>
            <md-radio-button value="day">天</md-radio-button>
            <md-radio-button value="week">周</md-radio-button>
        </md-radio-group>
    </md-list-item>
    <md-divider></md-divider>
            <md-list-item layout="column">
                <p>开始时间：{{startTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}}</p>
                <p>结束时间：{{endTime | date: 'yyyy-MM-dd HH:mm:ss': '+0800'}}</p>
                <p ng-repeat="(key, value) in account">
                    <span ng-show="value">合计（{{key}}）：{{accountSum[key] | flow1024}}</span>
                </p>
            </md-list-item>
    <md-divider></md-divider>
    <md-list-item layout="row" layout-align="center center">
        <div layout layout-padding>
            <canvas class="chart chart-line" chart-data="chart.data"
            chart-labels="chart.labels" chart-legend="true" chart-series="chart.series"
            chart-options="chart.options">
            </canvas>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-divider></md-divider>
        <md-list-item layout="row" layout-align="center center">
            <div flex="50" layout="row" layout-align="center center">
                <md-button class="md-primary md-raised" ng-click="prev()">
                    Prev
                </md-button>
            </div>
            <div flex="50" layout="row" layout-align="center center">
                <md-button class="md-primary md-raised" ng-click="reset()">
                    Reset
                </md-button>
            </div>
            <div flex="50" layout="row" layout-align="center center">
                <md-button class="md-primary md-raised" ng-click="next()">
                    Next
                </md-button>
            </div>
        </md-list-item>
</md-list>
<md-list ng-show="publicInfo.user.account.length === 0">
    <md-list-item>
        <div>
            <p>当前用户未分配Shadowsocks帐户</p>
            <p>请等待管理员给您分配</p>
            <p>此页面将会自动刷新</p>
        </div>
    </md-list-item>
</md-list>