<div ng-controller="UserMainController" layout="column" ng-cloak layout-fill>
    <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="false" layout="column" layout-align="space-between stretch">
        <md-content>
            <div layout="column">
                <md-toolbar class="md-tall">
                    <span flex></span>
                    <div layout="column" class="md-toolbar-tools-bottom inset">
                        <user-avatar></user-avatar>
                        <span></span>
                        <div>{{publicInfo.user.email}}</div>
                    </div>
                </md-toolbar>
                <md-list>
                    <md-list-item ng-repeat="menu in menus">
                        <a ng-click="menuClick($index)">
                            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                <div class="inset">
                                    <md-icon class="material-icons">{{menu.icon}}</md-icon>
                                </div>
                                <div class="inset">
                                    {{menu.name}}
                                </div>
                            </md-item-content>
                        </a>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="menu in bottomMenus">
                        <a ng-click="bottomMenus[0].click()">
                            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                <div class="inset">
                                    <md-icon class="material-icons">{{menu.icon}}</md-icon>
                                </div>
                                <div class="inset">
                                    {{menu.name}}
                                </div>
                            </md-item-content>
                        </a>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
        <div style="font-size: 0.6em;">ver: {{version}} powered by <a href="http://www.quanminxingkong.com">ynhzzu[AT]gmail.com</a></div>
    </md-sidenav>
    <div flex layout="column">
        <div>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="menu" ng-click="menuButton()">
                        <i class="material-icons">{{publicInfo.menuButtonIcon}}</i>
                    </md-button>
                    <div>{{publicInfo.title}}</div>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="more">
                        <i class="material-icons">more_vert</i>
                    </md-button>
                </div>
            </md-toolbar>
        </div>
        <div flex layout="row">
            <md-sidenav class="md-sidenav-left animate-show" md-component-id="innerLeft" md-is-locked-open="$mdMedia('gt-sm')" ng-show="!$mdMedia('gt-sm') && innerSideNav" style="padding: 0px; min-width: 180px; width: 180px;" layout="column" layout-align="space-between stretch">
                <md-content>
                    <div layout="column">
                        <md-list>
                            <md-list-item ng-repeat="menu in menus" style="padding-left: 8px;">
                                <a ng-click="menuClick($index)">
                                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                        <div class="inset">
                                            <md-icon class="material-icons">{{menu.icon}}</md-icon>
                                        </div>
                                        <div class="inset">
                                            {{menu.name}}
                                        </div>
                                    </md-item-content>
                                </a>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-list-item ng-repeat="menu in bottomMenus" style="padding-left: 8px;">
                                <a ng-click="bottomMenus[0].click()">
                                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                                        <div class="inset">
                                            <md-icon class="material-icons">{{menu.icon}}</md-icon>
                                        </div>
                                        <div class="inset">
                                            {{menu.name}}
                                        </div>
                                    </md-item-content>
                                </a>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
                <div style="font-size: 0.6em;">ver: {{version}} powered by <a href="http://www.quanminxingkong.com">ynhzzu[AT]gmail.com</a></div>
            </md-sidenav>
            <md-content flex layout="row">
                <div ui-view flex></div>
            </md-content>
        </div>
    </div>
    </section>
    <md-button ng-if="publicInfo.fabButtonClick" class="md-fab md-fab-bottom-right">
        <md-icon class="material-icons" ng-click="publicInfo.fabButtonClick()">add</md-icon>
    </md-button>
</div>

